<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header>
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'DeleteArticle' 1 %}">Delete</a>
    <a href="{% url 'EditArticle' 1 %}">Edit</a>
    <a href="{% url 'NewArticle' %}">New Article</a>
    <a href="{% url 'NewUser' %}">New User</a>
    <a href="{% url 'ReadArticle' 1 %}">Read Article</a>
    <a href="{% url 'ListUserArticles' %}">User Articles</a>
</header>
{% block content %}
<h1>Beep boop beep</h1>
{% endblock content %}
<footer>

</footer>
</body>
</html>