<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'WikiApp/css/base.css' %}">
</head>
<body>
<header>
    <!--Contains all nav bar in the header that doesn't ever change-->
    <!--This div contains if the person is logged in or not and if they want to log out-->
    <div class="AccountLogin">
    {% if user.is_authenticated %}
    welcome <span class="bold">{{user.username}}</span>
    <a href="{% url 'logout' %}"><button>LogOut Here</button></a>
    {% else %}
    Welcome Please Log In
    <a href="{% url 'login' %}"><button>Log In Here</button></a>
    <a href="{% url 'NewUser' %}"><button>New User?</button></a>
    {% endif %}
    </div>
    <!--This it to keep all header titles in an h1 for distinguished display -->
    <h1 class="Header">
        {% block header %}
        Empty Header
        {% endblock header %}
    </h1>
    <!--Holds all page navigation and searchbar navigation-->
    <div class="NavBar">
    {% if user.is_authenticated %}
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'NewArticle' %}">New Article</a>
    <a href="{% url 'ListUserArticles' %}">User Articles</a>
    {% else %}
    <a href="{% url 'index' %}">Home</a>
    {% endif %}
    <form id="SearchBar" action="{% url 'SearchArticles' %}" method="post">
        {% csrf_token %}
        <input type="text"name="SearchText" style="width: 35%">
        <button>Search</button>
    </form>
    </div>
</header>
<!--Contains  main body of the content and it maintains across all pages-->
<section>
    {% block content %}
    <h1>Beep boop beep</h1>
    {% endblock content %}
</section>
<!--Footer don't change-->
<footer>
Contact Us!
    <p>Made By Thomas P Brown</p>
</footer>
</body>
</html>