{% extends 'WikiApp/base.html' %}

{% block header %}
Editor page

{% endblock header %}
{% block content %}
<form class="Content" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{articleForm.as_p}}
    <button>Submit</button>
</form>

<div class="SideContent" id="SideContentTable">
    <table border="1">
        <tr>
            <th>Side Content</th>
            <th>Remove Content</th>
        </tr>
        {% if sideContentList %}
        {% for eachContent in sideContentList %}
        <tr>
            <td>
                <a href="{% url 'EditSideContent' eachContent.id %}">{{eachContent.SideTitle}}</a>
            </td>
            <td>
                <a href="{% url 'deleteSideContent' eachContent.id %}">Delete {{eachContent.SideTitle}}</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        <tr>
            <td colspan="2">
                <a href="{% url 'NewSideContent' article.id %}">
                    Make New Side Content
                </a>
            </td>
        </tr>

    </table>
</div>
{% if request.method == 'POST' %}
<h4>Item Edited Successfully</h4>
{% endif %}
{% endblock content %}