{% extends 'WikiApp/base.html' %}
{% block header %}
Home Menu
{% endblock header %}

{% block content %}
{% if ArticleList %}
{% for EachArticle in ArticleList %}
<div>
    {% if user.is_authenticated %}
    <p>
        <a href="{% url 'ReadArticle' EachArticle.id %}">{{EachArticle.Title}}</a>
        <a href="{% url 'DeleteArticle' EachArticle.id %}">Delete</a>
        <a href="{% url 'EditArticle' EachArticle.id %}">Edit</a>
    </p>
    {% else %}
    <p>
        <a href="{% url 'ReadArticle' EachArticle.id %}">{{EachArticle.Title}}</a>
    </p>
    {% endif %}

    <p>
        <small>{{EachArticle.Body|slice:':50'}} . . .</small>
    </p>
</div>
{% endfor %}
{% else %}
No lists here
{% endif %}
{% endblock content %}