{% extends 'WikiApp/base.html' %}
{% load static %}
{% block header %}
{{article.Title}}
{% endblock header %}


{% block content %}
<div class="Content">

    {% if request.user == article.User.Accountlink %}
    <p>
        <a href="{% url 'EditArticle' article.id %}">Edit</a>
        <a href="{% url 'DeleteArticle' article.id %}">Delete</a>
    </p>
    {% endif %}
<h3>{{article.Title}}</h3>
<p>{{article.Body}}</p>
{% if article.Image %}
<img src="{{ article.Image.url }}" alt="{{article.Image}}" width="50%" height="=50%">
{% else %}
No image Found!
{% endif %}
</div>
<div class="SideContent">
{% if sideContent %}
{% for allSideContent in sideContent %}
<h4>{{allSideContent.SideTitle}}</h4>
<p>{{allSideContent.SideBody}}</p>
{% if allSideContent.SidePicture %}
<img src="{{ allSideContent.SidePicture.url }}" alt="{{allSideContent.SidePicture}}" width="60%" height="20%">
{% else %}
No Image
{% endif %}
{% endfor %}
{% else %}
<p>No Side Content!</p>
{% endif %}
</div>
{% endblock content %}