{% extends 'WikiApp/base.html' %}

{% block header %}
search for dem loops
{% endblock header %}

{% block content %}
<div class="Content">
{% if articleContent or SideContent %}
{% for Content in articleContent %}
<p><a href="{% url 'ReadArticle' Content.id %}">{{Content.Title}}</a></p>
{% endfor %}
</div>
<div class="SideContent">
{% for sideContent in SideContent %}
<h5>Side Contents </h5>
<p><a href="{% url 'ReadArticle' sideContent.ArticleLink.id %}">{{sideContent.SideTitle}}</a></p>
{% endfor %}
</div>
{% else %}
<div class="Content">
<h1>No Related Content Found</h1>
</div>
{% endif %}
{% endblock content %}